/* .main-footer{
    color: white;
    background-color: #1E90EE;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}
.page-container{
display: flex;
flex-direction: 
min-height: 80vh;
justify-content:space-between;
}
.content-wrap{
    flex:1;
}
.col{
    display: inline-block;
    text-align: justify;
    margin: 110px;
}
.row{
text-align: center;
padding-bottom: 0.5rem;
} */
